*{
    margin:0px;
    padding:0px;
  }

body{
    overflow-x: hidden;
}
main{
    height:100vh;
    width:100%;
    background-color: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lg-head{
    font-size: 35px;
}

.r-btn{
    padding: 10px ;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

.bar{
    background:#96c930;
    padding:10px 15px;
    width:270px;
    border-radius:5px;
    border-top:2px solid green;
    position: absolute;
    bottom:20px;
    right:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(150%);
    
}

.bar.active{
    transition: all 0.4s cubic-bezier(0.27, -0.51, 0.18, 0.81);
    transform: translate(150%);
}
.bar.active_o{
    transition: all 0.4s cubic-bezier(0.42, 0.35, 0.45, 1.58);
    transform: translate(0%);
}
  
.close-pic{
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-position: center center;
    background-size: cover;
    cursor: pointer;

}
